<div class="container">
  <p class=Title>
  <h1>Stupid Coaching</h1>
  </p>

  <div class=my-question>
  <p><%= params[:question] %> <em><br>-You<br></em></p>
  </div>

  <div class="coach-answer">
  <strong><%= @answer %></strong>
  <em><br>-Your coach<br></em>
  </div>

  <p class="no-underline">
  <%= link_to "Ask another question", "/ask", class: "no-underline" %>
  </p>
</div>
